[Unit]
Description=BMC iNET push to Server
# Thêm dependency mới để đảm bảo filesystem và mạng đều sẵn sàng
Requires=network-online.target local-fs.target
After=network-online.target local-fs.target

[Service]
Type=simple
User=bmc
WorkingDirectory=/home/bmc/core/data-diode/
ExecStart=/home/bmc/core/data-diode/bin/push_server
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target