[Unit]
Description=Diode TCP TX Forwarder
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/bmc/core/data-diode/bin/inet_tcp_tx
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target