[Unit]
Description=Load static ARP entries from /etc/ethers
# Yêu cầu dịch vụ này chạy SAU KHI mạng đã thực sự online
After=network-online.target
# Kéo theo (muốn có) network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/sbin/arp -f /etc/ethers
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target